<div class="main">
    <header class="header">
            <ul class="menu" #menu>
                <!-- <li class="menu__item"><img src="../../../assets/cameo.png" alt="cameo" id="cameoImage"></li> -->
                <!-- <li class="menu__item"><a routerLink="home" id="cameo" class="menu__link">CAMEO</a></li> -->
                <li class="menu__item"><a class="menu__link">Portfolio</a></li>
                <li class="menu__item"><a class="menu__link">How it works</a></li>
                <li class="menu__item"><a class="menu__link">Benefits</a></li>
                <li class="menu__item"><a class="menu__link">Testimonials</a></li>
            </ul>
            <ul class="menu menu-right" #menuSecond>
                <li class="menu__item"><a routerLink="/login" class="menu__link">+Sobre_Mi</a></li>
                <li class="menu__item"><a routerLink="/registro"  class="menu__link">Proyectos</a></li>
            </ul>
    </header>
    <!-- Primera Seccion -->
    <section class="first-section">
        <div class="info">
            <h4 class="heading-1">L'escola a casa</h4>
            <p id="mision" class="paragraph">
                <i> <strong>Rosanna Avila</strong> es una aplicación que nace con la finalidad de
                    promover un aprendizaje constante y flexible, permitiendo
                    al usuario recibir y compartir conocimientos sin barreras.
                    Una plataforma en la que potenciar los talentos, encontrar a personas
                    con intereses comunes, maestros y clases de lo que sea, donde sea,
                    sin esperas, burocracias ni intermediarios.
                    Bajo las premisas de la inmediatez, la versatilidad y la agilidad, el usuario tiene
                    la posibilidad de hacer "Cameos" en forma de clases en tantas disciplinas como abarquen
                    sus intereses, de manera que sirvan y faciliten la primera toma de contacto con 
                    algún ámbito de interés.
                </i> 
            </p>
            <!-- <a class="btn btn--start">Empezamos!</a> -->
        </div>
        <div class="visuals">
            <div class="image-container">
                <img #imageFirst src="../../../assets/images/image1.jpg" alt="">
            </div>
            <div class="image-container">
                <img #imageSecond src="../../../assets/images/image2.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- Segunda sección -->
    <section class="second-section" #secondSection>
        <div class="box"></div>
        <h4 class="heading-4" id="about">Nuestra Filosofia</h4>
        <h1 class="heading-1" id="buy">Todo bajo control</h1>
        <div class="info-1">
            <div class="info-1__text">
                <span class="quote">
                    "
                </span>
                <h2 class="heading-3">
                    Creado por milenials,
                    para milenials...
                </h2>
                <p class="paragraph">
                    <i>
                        El gran objetivo del aprendizaje no 
                        es el conocimiento, sino la acción
                        (Herbert Spencer)
                    </i>
                </p>
                <a class="btn--learn">Quiero aprender a hacer una buena sopa...!</a>
                <a class="btn--learn">...Y yo resolver un cubo de Rubik!</a>
            </div>
            <div class="info-1__visual">
                <img src="../../../assets/images/image4.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- Tercera sección -->
    <section class="thirth-section" #thirthSection>
        <div class="box1"></div>
        <h4 class="heading-9" id="nosotros">Nuestro equipo</h4>
        <h1 class="heading-10" id="control">#Apasionados por el código</h1>
        <div class="info-10">
            <div class="info-10__text">
                <!-- <span class="quote" id="principio">
                    < > 
                </span> -->
                <!-- <span class="quote" id="names">
                    #1      #2      #3
                </span> -->
               
                <!-- <span class="quote" id="final">
                    < /> 
                </span>   -->
                
                <p class="paragraph-contact">
                    Contacta con nosotros:
                </p>

                

                <p class="paragraph" id="linkedin">
                    <i>
                       "La innovación distingue a los líderes de los seguidores" (Steve Jobs)
                    </i>      

                    <a class="li-ic" href="https://www.linkedin.com/in/angi-rubio/">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                      </a>        
                      <a class="li-ic" href="https://www.linkedin.com/in/felipe-bedoya-384542181/">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                      </a>    
                      <a class="li-ic" href="https://www.linkedin.com/in/desir%C3%A9e-gamez-infantes-88a20248/">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                      </a>   
                </p>                
            </div>
            
            <div class="info-4__visual">
                <img #imageAngi src="../../../assets/images/image6.jpg" alt="imageBottom1">  
                          
            </div>

            <div class="info-3__visual">
                <img #imagePipe src="../../../assets/images/image7.jpg" alt="imageBottom2">   
                         
            </div>
            
            <div class="info-2__visual">
                <img #imageDesi src="../../../assets/images/image8.jpg" alt="imageBottom3">                
            </div>   
            <div class="info-5__visual">
                <img #imageNueva src="../../../assets/images/image7.jpg" alt="imageBottom3">                
            </div>  
            <div class="info-6__visual">
                <img #imageNew src="../../../assets/images/image9.jpg" alt="imageBottom3">                
            </div>  
            <div class="info-8__visual">
                <img #imageLast src="../../../assets/images/image4.jpg" alt="imageBottom3">                
            </div>  
        </div>
    </section>    
  
</div>

