/* MEDIA QUERIES */

/*Escritorio*/
@media (min-width: 1199.98px) {
    body > footer{
        display: flex;
        text-align: center;
        padding-top: 5%;
    }
    
    /* body > footer > div.container > div > div{
        padding-left: 29%;
    } */
    
    a{
        color: white;
    }
    
    a:hover{
        color: #F0605C;
    }
    div.footer-copyright.text-center.py-3 > a{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
    }

}